<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Gitlandia thermo-nuclear war</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link href="~/Content/Cover.css" rel="stylesheet" type="text/css" />
    <script src="~/scripts/launch.js"></script>
</head>
<body>

    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container">

                <div class="inner cover">
                    <h1 class="cover-heading">Thermo-nuclear war</h1>

                    <p class="lead">
                        <span id="status" class="label label-warning">Checking status...</span>
                    </p>

                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Launch</button>
                    <div class="lead">
                        <!-- Modal -->
                        <div id="myModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Thermo-nuclear launch</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you sure you would like to launch a thermo-nuclear attach on Mercuria? Vaporising mercury in our atmosphere may not be the best idea...</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="launch" type="button" class="btn btn-lg btn btn-primary" data-dismiss="modal">Launch</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <p id="resultPlaceholder" class="lead"></p>
                </div>

            </div>

        </div>

    </div>

</body>
</html>
